@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 60% 88%;
    --foreground: 0 0% 11%;

    --card: 45 60% 98%;
    --card-foreground: 0 0% 11%;

    --popover: 45 60% 96%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 130 35% 21%;
    --primary-foreground: 45 60% 96%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 24%;

    --accent: 45 80% 85%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 129 34% 30%;
    --success-foreground: 0 0% 100%;

    --border: 45 50% 70%;
    --input: 45 50% 70%;
    --ring: 130 100% 25%;

    --radius: 0.5rem;
  }

  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 7%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 91 56% 78%;
    --primary-foreground: 0 0% 11%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --success: 129 34% 30%;
    --success-foreground: 0 0% 100%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }

  body,
  html {
    @apply h-full;
  }
}
